@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	text-align:center;
	background-color:#333333;
	color: #aaaaaa;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-smooth: always;
	font-family: "Lato", 'Noto Sans TC', sans-serif !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

.title{
	width:100%;
	color:#80c8a6;
}

a{
	color:#aaaaaa;
}

figure {
	display:inline-block;
	vertical-align:top;
	width:280px;
}
figure:hover {
	opacity:0.8;
	color:#ffae1a;
}
figure img{
	width:100%;
}
form{
	width: 100%;
	text-align:center;
}
#albumlist{
	clear:both;
	width:100%;
}
span.criteria{
	display:inline-block;
	font-weight:bold;
	width:3em;
	color:#ffae1a;
}
label span {
	padding:5px;
	cursor:pointer;
	font-weight:bold;
	transition:all .2s ease;
	font-size:1em;
}
input[type='radio']{
	display:none;
}
input[name='cat']:checked + span {
	background:#009ace;
	border-radius: 1em;
	color:#fff;
}
input[name='subcat']:checked + span {
	background:#c880a2;
	border-radius: 1em;
	color:#fff;
}
.filter{
	text-align:center;
	margin: 1em auto;
	clear:both;
}
.year{
	display:inline-block;
}