@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	text-align:center;
	background-color:#333333;
	color: #aaaaaa;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    font-smooth: always;
	font-family: "Lato", 'Noto Sans TC', sans-serif !important;
}

.backlink{
	display:none;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
	width: 50px;
}
.backlink h1{
	text-align:left;
	font-size: 28px;
	margin: 8px;
}

a{
	color:#aaaaaa;
}

figure {
	display:inline-block;
	vertical-align:top;
	width:200px;
}
figure:hover {
	opacity:0.8;
}
figcaption{
	height:6em;
}

.lity-image img {
    max-height: 100vh !important;
}

#gallery img:hover{
	opacity:0.8;
}

#gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 3px;
}

#gallery {
  line-height: 0;
   
  -webkit-column-count: 8;
  -webkit-column-gap:   0px;
  -moz-column-count:    8;
  -moz-column-gap:      0px;
  column-count:         8;
  column-gap:           0px;  
}

@media (max-width: 1960px) {
  #gallery {
  -moz-column-count:    7;
  -webkit-column-count: 7;
  column-count:         7;
  }
}
@media (max-width: 1680px) {
  #gallery {
  -moz-column-count:    6;
  -webkit-column-count: 6;
  column-count:         6;
  }
}
@media (max-width: 1400px) {
  #gallery {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1120px) {
  #gallery {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 740px) {
  #gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 560px) {
  #gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 280px) {
  #gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}