<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>album.takwing.com</title>

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" type="image/png" href="favicon192.png" sizes="192x192">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon180.png">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/theme/default.css">
</head>

<body>
<h2 class="title">album.takwing.com</h2>

<div id="selectRegion" class="filter">
	<div class="filter">
		<span class="criteria">region</span>
		<label v-for="(cat,index) in cats"><input type='radio' name='cat' v-model='c' :value="index" @click='s=0'><span> {{cat.name}} </span></label>
	</div>
	<div v-show="c>0" class="filter">
		<label v-for="(subcat,index) in cats[c].subcats"><input type='radio' name='subcat'  v-model='s' :value="index"><span> {{subcat.name}} </span></label>
	</div>
</div>

<div id="selectYear" class="filter">
	<div class="year filter">
		<span class="criteria">year</span>
		<vue-slider ref="slider" v-model="value" v-bind="options" class="year"></vue-slider>
	</div>
</div>

<div id="listAlbums">
	<a v-for="album in albums" v-show="vis(album.cat, album.subcat, album.years)" :id="album.code" :href="album.url" target="_blank">
		<figure class="album">
			<img :src="'img/'+album.code+'.jpg'">
			<figcaption>{{album.label}}<span v-if="album.label2.length>0"><br>{{album.label2}}</span><object v-if="album.blog.length>0"><br><a :href="album.blogurl" target="_blank">延伸閱讀：{{album.blog}}</a></object></figcaption>
		</figure>
	</a>
</div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

<script>
var yearRange = [2002,2019];

var w=(document.body.clientWidth*0.8);
if (w>600) w=600;

var selectRegion = new Vue({
	el: '#selectRegion',
	data: {
		c:0,
		s:0,
		cats: [],
	},
	mounted () {
		axios
			.get('./json/cats.json')
			.then(response => (this.cats = response.data))
	}
})

var selectYear = new Vue({
	el: '#selectYear',
  data () {
    return {
    	value: yearRange,
      options: {
        dotSize: 14,
        width: w,
        height: 4,
        contained: false,
        direction: 'ltr',
	      data: null,
        min: yearRange[0],
        max: yearRange[1],
        interval: 1,
        disabled: false,
        clickable: true,
        duration: 0.5,
        adsorb: true,
        lazy: false,
        tooltip: 'always',
        tooltipPlacement: 'top',
        tooltipFormatter: void 0,
        useKeyboard: false,
        enableCross: true,
        fixed: false,
        minRange: void 0,
        maxRange: void 0,
        order: true,
        marks: false,
        dotOptions: void 0,
        process: true,
        dotStyle: void 0,
        railStyle: void 0,
        processStyle: void 0,
        tooltipStyle: void 0,
        stepStyle: void 0,
        stepActiveStyle: void 0,
        labelStyle: void 0,
        labelActiveStyle: void 0
      }
    }
  },
  methods: {
  },
  mounted () {
  },
  components: {
    'vueSlider': window[ 'vue-slider-component' ]
  }
})

function outOfRange(y){
	return ((y<selectYear.value[0])||(y>selectYear.value[1]));
}

var listAlbums = new Vue({
	el: '#listAlbums',
	data: {
		albums: [],
		vis: function(cat, subcat, years){
			if (years.every(outOfRange))
				return false;
			if (selectRegion.c==0)
				return true;
			if (cat==selectRegion.cats[selectRegion.c].code){
				if (selectRegion.s==0)
					return true;
				if (subcat==selectRegion.cats[selectRegion.c].subcats[selectRegion.s].code)
					return true;
			}
			return false;
		}
	},
	mounted () {
		axios
			.get('./json/albums.json')
			.then(response => (this.albums = response.data))		
	}
})


</script>